
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


:root{
   
   --white-color: hsl(0, 0%, 100%);
   --black-color: hsl(0, 0%, 0%);

   
   --body-font: 'Poppins', sans-serif;
   --h1-font-size: 1.75rem;
   --normal-font-size: 1rem;
   --small-font-size: .813rem;

	
   --font-medium: 500;
}